<div class="card-container">
    <div class="upload-card">
        <h2 class="head-2">Upload your image</h2>
        <p>File should be Jpeg, Png...</p>
        <div class="drag-n-drop">
        <input type="file" (change)="uploadFile($event)" class="drag-n-drop-area">
            <img src="assets/image.svg" alt="drag and drop your image here">
            <p *ngIf="!file">Drag and Drop your Image here</p>
            <p *ngIf="file">{{file.name}}</p>
        </div>
        <p>or</p>
        <button>
            <input type="file" (change)="uploadFile($event)">
            Choose a file
        </button>
    </div>
</div>
